@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: #0a1730;

  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.nav-link {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0.5rem 1rem 0.5rem 0 !important;
  padding: 0 !important;
}

.dropdown-menu {
  font-size: 13px !important;
}

.page-title {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.page-description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: rgb(170, 170, 170);
}

.page-divider {
  color: white;
  margin: 1rem 0 2rem 0;
}

.section-title {
  font-family: "Yaldevi", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(170, 170, 170);
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
}

.section-title:after {
  display: inline-block;
  content: "";
  height: 3px;
  background: rgb(170, 170, 170);
  position: absolute;
  width: 30%;
  top: 50%;
  margin-top: -2px;
  margin-left: 10px;
  margin-left: 2rem;
}

.section-card-primary {
  background-color: #4f29dc;
  opacity: 0.7;
  transition: 0.3s;
}

.section-card-danger {
  background-color: #ac2424;
  opacity: 0.7;
  transition: 0.3s;
}

.section-card-primary:hover,
.section-card-danger:hover {
  opacity: 1;
  transition: 0.3s;
}

.section-card-tag {
  font-family: "Yaldevi", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
}

.section-card-title {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: white;
}

.section-card-text {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(231, 231, 231);
}

.embed-info {
  border: 0;
  border-left: 5px solid rgb(208, 236, 48);
  border-radius: 5px;
  margin: 3rem 0 3rem 0;
}

.embed-text {
  font-family: "Yaldevi", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: rgb(219, 219, 219);
  margin-left: 1rem;
}

.bg-blurple {
  background-color: #221a41;
  border: 1px solid black;
}

.transaction-header {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: underline;
  text-underline-offset: 6px;
  margin-bottom: 2rem;
}

.transaction-sender {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-right: 0.3rem;
}

.transaction-amount {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.transaction-receiver {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.transaction-link {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: rgb(104, 104, 190);
  text-decoration: underline;
  text-underline-offset: 6px;
  transition: 0.3s;
}

.transaction-link:hover {
  color: rgb(105, 105, 189);
  transition: 0.3s;
}
